*{
    box-sizing: border-box;
    padding: 0;margin: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}
a{
    list-style: none;
    text-decoration: none;
}
li{
    text-decoration: none;
}
img{
    width: 100%;
}